footer {
  width: 100%;
  background-color: #242424;

  .inner {
    padding: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .left {
      a {
        display: block;
        margin-bottom: 30px;
        font-size: $fontXXL;
        font-family: 'Dosis';
        color: #fff;
      }
      p {
        font-size: $fontM;
        color: #bbb;
      }
    }

    .right {
      text-align: right;

      .shape_paral:nth-child(2) {
        margin-left: 50px;

        &::before {
          background-color: #384a83;
        }
      }
      .shape_paral:nth-child(3) {
        &::before {
          background-color: #4a91c9;
        }
      }      
      
      ul {
        margin-top: 30px;
        display: flex;
        gap: 22px;

        li a {
          color: #999;
          font-size: $fontL;
          font-weight: 400;
        }
      }
    }
  }

  &.main {
    background-color: #444;
  }
}