header {
  z-index: 2;
  width: 100%;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;

  .inner {
    position: relative;
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      a {
        font-family: 'Dosis';
        font-weight: 200;
        font-size: $fontXL;
        color: #fff;
      }
    }

    #gnb {
      display: flex;
      gap: 10px;

      li {
        a {
          position: relative;
          padding: 10px 20px;
          font-size: $fontM;
          font-weight: 400;
          color: #fff;
        }
      }
    }

    .fa-bars {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: $fontXL;
      color: #fff;
      cursor: pointer;
      display: none;
    }
  }

  &.main {
    background-color: #444;
  }
}

@media screen and (max-width: $tablet){
  header {
    position: relative;
    
    .inner {
      width: 100%;
      height: 70px;
      padding: 0 20px;
  
      #gnb {
        display: none;
      }
  
      .fa-bars {
        display: block;
      }
    } 
  } 
}
