.content {
  >.inner {
    width: 1180px;
    min-height: 800px;
    margin: 150px auto;
    position: relative;

    h1 {
      font-family: "Dosis";
      font-weight: 200;
      font-size: $fontXXXXL;
    }
  }
}

@media screen and (max-width: $tablet){
  .content {
    >.inner {
      width: 100%;
      margin: 40px auto;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: $tablet){
  .content {
    >.inner h1 {
      font-size: 3rem;
    }
  }
}
