#visual {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .visual_inner {
    width: 1380px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 300px;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }

    .mainBox {
      width: 80%;
      height: 90%;
      position: absolute;
      top: 0;
      right: 0;
  
      .swiper {
        height: 100%;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .inner {
    position: relative;
    height: 100%;

    .title-wrap {
      z-index: 2;
      position: absolute;
      top: 70px;
      left: 0;

      em {
        display: block;
        margin-bottom: 10px;
        font-size: $fontS;
        letter-spacing: 5px;
        color: #ddd;
      }

      h1 {
        position: relative;
        font-size: $fontXXXL;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 70%;
          right: -60%;
          width: 100%;
          height: 2px;
          background-color: darkgreen;
        }
      }

      .shape_paral {
        margin-top: 50px;
        margin-left: 30px;
        display: block;
        width: 230px;
        height: 50px;
      }
    }

    .textBox {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 25px;
      background-color: #222;
      width: 300px;
      height: 300px;
      opacity: 0;
      transform: translateY(100px);
      transition: 0.5s;

      em {
        display: block;
        margin-bottom: 20px;
        font-size: $fontS;
        font-weight: 600;
        color: darkgreen;
      }
      span {
        font-size: $fontXL;
        font-weight: 600;
        line-height: 1.4;
      }
      p {
        margin-top: 30px;
        font-size: $fontS;
        color: #ccc;
        line-height: 1.6;
      }
    }
  }

  .cursor {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #9457bd;
    position: fixed;
    border-radius: 50%;
    top: -9999px;
    left: 0;
    z-index: 5;
    text-align: center;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontL;
    font-weight: 600;
    color: #000;
  }

  &.on {
    .visual_inner .inner {
      .textBox {
        transform: translateY(0);
        opacity: 1;
      }
    } 
  }
}

@media screen and (max-width: $tablet) {
  #visual {
    padding-top: 0;
    
    .visual_inner {
      width: 100%;

      .mainBox {
        width: 100%;
        height: calc(100vh - 100px);
      }
    }

    .inner {
      .title-wrap {
        left: 20px;

        h1 {
          font-size: 3rem;

          &::after {
            display: none;
          }
        }
      }
    }
  } 
}

@media screen and (max-width: $mb) {
  #visual .inner .title-wrap h1 {
    font-size: $fontXXL;
  }
}