#visual {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    &::before {
      position: absolute;
      bottom: 0;
      left: -10%;
      content: '';
      display: block;
      width: 110%;
      height: 300px;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }

    .mainBox {
      position: relative;
      width: 80%;
      height: 90%;

      .swiper {
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .title-wrap {
        z-index: 2;
        position: absolute;
        top: 70px;
        left: -220px;

        em {
          display: block;
          margin-bottom: 10px;
          font-size: $fontS;
          letter-spacing: 5px;
          color: #ddd;
        }
  
        h1 {
          position: relative;
          font-size: $fontXXXL;
  
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 70%;
            right: -60%;
            width: 100%;
            height: 2px;
            background-color: darkgreen;
          }
        }
  
        .shape_paral {
          margin-top: 50px;
          margin-left: 30px;
          display: block;
          width: 230px;
          height: 50px;
        }
      }
    }

    .textBox {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 140px;
      padding: 25px;
      background-color: #222;
      width: 300px;
      height: 300px;

      em {
        display: block;
        margin-bottom: 20px;
        font-size: $fontS;
        font-weight: 600;
        color: darkgreen;
      }
      span {
        font-size: $fontXL;
        font-weight: 600;
        line-height: 1.4;
      }
      p {
        margin-top: 30px;
        font-size: $fontS;
        color: #ccc;
        line-height: 1.6;
      }
    }
  }

  .cursor {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    position: fixed;
    border-radius: 50%;
    top: -9999px;
    left: 0;
    z-index: 5;
    text-align: center;
    mix-blend-mode: difference;
    // transform: translate(-50%, -50%);
    pointer-events: none;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontM;
    font-weight: 600;
    color: #000;
  }
}