.About {
  padding-bottom: 100px;

  article {
    margin-top: 150px;

    .title {
      position: relative;
      display: block;
      margin-bottom: 50px;
      font-size: $fontXXL;
      color: #fff;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 50px;
        height: 3px;
        background-color: darkgreen;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .banner {
    background: url("../../../public/img/visual0.jpg") no-repeat center/cover;
    background-attachment:fixed;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    filter: grayscale(0.5);

    .text-wrap {
      h1 {
        margin-bottom: 5px;
        font-family: 'Dosis';
        font-weight: 200;
        font-size: $fontXXXL;
      }
      h2 {
        font-family: 'Dosis';
        font-weight: 200;
        font-size: $fontXXL;

        strong {
          font-family: 'Dosis';
          color: darkgreen;
        }
      }
    }
  }
  
  .story {
    width: 100%;

    .inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .left {
        width: 60%;
        margin-right: 5%;

        >p {
          line-height: 2;
          font-size: $fontL;
          color: #bbb;
        }

        .num-wrap {
          margin-top: 40px;
          display: flex;
          align-items: center;

          span {
            display: block;
            margin-right: 20px;
            line-height: 1;
            font-size: 80px;
            border-bottom: 5px solid #fff;
          }

          p {
            color: #ddd;
          }
        }
      }
      .right {
        width: 35%;
  
        .pic {
          position: relative;
          width: 100%;
          height: 400px;
          filter: grayscale(0.5);
          cursor: pointer;

          &::after {
            opacity: 0;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.4);
            transition: 0.5s;
          }
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .text-wrap {
            z-index: 2;
            width: 80%;
            position: absolute;
            bottom: 20px;
            left: 20px;
            opacity: 0;
            transform: translateY(100px);
            transition: 0.5s;

            span {
              display: block;
              margin-bottom: 10px;
              font-size: $fontL;
              font-weight: 600;
            }
            p {
              font-size: $fontS;
              color: #bbb;
            }
          }

          &:hover {
            &::after {
              opacity: 1;
            }

            .text-wrap {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }

  }

  .rooms {
    width: 100%;

    .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .cont {
        position: relative;
        width: 32%;

        .pic {
          margin-bottom: 20px;
          width: 100%;
          height: 200px;
          transition: 0.5s;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        strong {
          display: block;
          margin-bottom: 10px;
          font-size: $fontL;
        }
        p {
          font-size: $fontS;
          color: #bbb;
        }
        span {
          position: absolute;
          right: 0;
          bottom: 20px;
          display: block;
          padding-right: 40px;

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 20px;
            height: 1px;
            background-color: #fff;
          }
        }
      }
    }
  }

  .vision {
    p {
      font-size: $fontL;
      color: #bbb;
      line-height: 1.6;
    }
  }
}

@media screen and (max-width: $tablet){
  .About {
    article {
      margin-top: 100px;
    }

    .story .inner {
      .left, .right {
        width: 100%;
      }
      .left {
        margin-bottom: 50px;
      }
    } 

    .rooms .wrap .cont {
      width: 100%;
      margin-bottom: 20px;

      .pic {
        height: 250px;
      }
    }
  } 
}

@media screen and (max-width: $mb){
  .About .banner .text-wrap {
    h1 {
      font-size: $fontXXL;
      margin-bottom: 15px;
    }
    h2 {
      font-size: $fontXL;
    }
  } 
}