.Community {
  .inputBox {
    width: 100%;
    text-align: center;
    margin: 100px 0;

    input,textarea {
      width: 50%;
      margin-bottom: 20px;
      padding: 8px 10px;
    }

    .btnSet {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 50%;
      margin: 0 auto;

      button {
        padding: 10px 24px;
        width: 50%;
        font-size: $fontL;
        font-weight: 600;
        color: #eee;
        background-color: #3f663f;
        cursor: pointer;

        &:hover {
          background-color: darken($color: #3f663f, $amount: 5);
        }
      } 
    }
  }

  .showBox {
    width: 100%;
    border-top: 2px solid #ddd;

    article {
      width: 100%;
      padding: 25px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid #3e3e3e;

      .editTxt {
        width: 80%;

        input {
          width: 100%;
        } 
        textarea {
          width: 100%;
          margin-top: 10px;
        }
      }
      

      .date {
        position: relative;
        padding-left: 70px;
        width: 20%;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 36%;
          left: 0;
          width: 50px;
          height: 1px;
          background-color: #fff;
        }

        em {
          display: block;
          font-style: normal;
          font-size: $fontS;
        }
        span {
          font-size: $fontXXL;
          font-weight: 600;
        }
      }
      .txt {
        width: 60%;

        h2 {
          font-size: $fontXL;
        }
        p {
          font-size: $fontL;
          color: #aaa;
          margin-top: 10px;
        }
      }
      .btnSet {
        width: 20%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;

        button {
          background-color: inherit;
          color: #fff;
          font-size: $fontM;
          color: #ddd;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .Community {
    .inputBox {
      input, textarea {
        width: 100%;
      }
      .btnSet {
        width: 100%;
      }
    }

    .showBox {
      article {
        position: relative;

        .date {
          width: 100%;
          margin-bottom: 20px;
        }
        .txt {
          width: 100%;
        }
        .btnSet {
          position: absolute;
          top: 0;
          right: 0;
          width: auto;

          span {
            font-size: $fontM;
          }
        }

        .editTxt {
          width: 75%;
        }
      }
    }
  } 
}

@media screen and (max-width: $mb) {
  .Community .showBox article {
    .btnSet {
      flex-direction: column;
      gap: 8px;
    }
  } 
}