.Join {
  .inner {
    >p {
      margin-top: 20px;
      width: 60%;
    }

    >span {
      display: block;
      margin-top: 100px;
      font-size: $fontXL;
      font-weight: 600;
      padding-bottom: 30px;
      border-bottom: 1px solid #ddd;
    }

    form {
      padding-top: 30px;

      table {
        width: 100%;
      }
      tbody {
        display: flex;
        flex-wrap: wrap;

        tr {
          margin-bottom: 20px;
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: flex-end;

          th {
            text-align: left;

            input[type='reset'], input[type='submit'] {
              margin-right: 20px;
              padding: 8px 30px;
            }

            &:last-child {
              text-align: center;
            }
          }
          td {
            margin-top: 10px;

            input[type='text'],input[type='password'] {
              width: 80%;
            }
            textarea {
              width: 100%;
            }
            select {
              width: 50%;
            }
            label {
              margin-right: 6px;
              font-size: 18px;
            }
            input[type='radio'] {
              margin-right: 15px;
            }

            .err {
              display: block;
              margin-top: 6px;
              color: #a9cda9;
              font-size: $fontM;
            }
          }
        }
      }
    }
  }
}

