.Join {
  .inner {
    >p {
      margin-top: 20px;
      width: 60%;
    }

    form {
      margin-top: 100px;

      .title {
        display: block;
        margin-bottom: 30px;
        font-size: $fontXL;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ddd;
      }

      table {
        width: 100%;

        tbody {
          display: flex;
          flex-wrap: wrap;
  
          tr {
            margin-bottom: 20px;
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-end;
  
            th {
              text-align: left;
            }
            td {
              margin-top: 10px;
  
              input[type='text'],input[type='password'] {
                width: 80%;
              }
              textarea {
                width: 100%;
              }
              select {
                width: 50%;
              }
              label {
                margin-right: 6px;
                font-size: 18px;
              }
              input[type='radio'] {
                margin-right: 15px;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      
      .terms {
        margin-top: 50px;

        .text {
          width: 100%;
          height: 230px;
          overflow: auto;
          border-radius: 5px;
          background-color: #fff;
          padding: 40px 30px;
          color: #000;
          font-size: $fontM;
          line-height: 1.8;

          b {
            display: block;
            font-size: $fontL;
          }
        }

        .check-wrap {
          margin-top: 15px;

          label {
            margin-left: 6px;
            font-size: $fontL;
          }
        }
      }

      .btnSet {
        margin-top: 50px;
        text-align: center;

        input {
          width: 180px;
          height: 50px;
          margin-right: 20px;
          font-size: $fontL;
          font-weight: 600;
          color: #eee;
          background-color: #4e6c4e;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: darken($color: #4e6c4e, $amount: 9);
          }
        }
      }

      .err {
        display: block;
        margin-top: 6px;
        color: #a9cda9;
        font-size: $fontM;
      }
    }
  }
}

