@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

$tablet: 1179px;
$mb: 539px;

$fontXXXXL : 5rem;
$fontXXXL: 4rem;
$fontXXL: 2rem;
$fontXL: 1.5rem;
$fontL: 1rem;
$fontM: 0.9rem;
$fontS: 0.8rem;

//common
@import 'common/reset';
@import 'common/layout';
@import 'common/header';
@import 'common/footer';
@import 'common/menu';
@import 'common/popup';

//main
@import 'main/visual';
@import 'main/service';
@import 'main/news';

//sub
@import 'sub/about';
@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/community';
@import 'sub/location';
@import 'sub/join';

body {
  background-color: #111;
  color: #fff;
}

.inner {
  width: 1180px;
  margin: 0 auto;
}